<!DOCTYPE html>
<html lang="en">
  <head>
      {{template "commonHeader.html" .}}
    </head>
<body id="top">

  {{template "nav.html" .}}

  <div class="bg-videosnap"></div>
  <video playsinline autoplay muted loop class="bg-video">
    <source src="/static/images/helloworld.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    <source src="/static/images/helloworld.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>

  <section class="hero container">
    <div id="hero" class="text-center">
        <img src="/static/images/favicon-96x96.png" />
        <h1 class="animated swing delay-1s">ignite<span>V1</span></h1>
        <p>A dockernized service for <em>SS</em></p>
        <div class="col-md-6 offset-md-3 text-center">
          {{ if not .uInfo }}
          <a href="#" class="signup-btn signup-move">Activate the Account</a>
          <p class="login-text">Signup <em><a class="login-move signup-loginhref" href="#">Here</a></em> Login</p>
          {{ else }}
          <a href="/panel/index" class="signup-btn">控制台</a> {{ end }}
        </div>
    </div>
    <div class="text-center" id="signup">
      <form class="form" id="signup-form" action="/signup" method="post">
        <h1>Account Activation</h1>
        <input type="text" placeholder="invite-code" name="invite-code">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <input type="password" placeholder="onfirm-password" name="confirm-password">
        <button id="signup-btn" class="common-btn">Submit</button>
      </form>
    </div>
    <div class="text-center" id="login">
      <form class="form" id="login-form" action="/login" method="post">
        <h1>User Login</h1>
        <input type="text" placeholder="usernam" name="username">
        <input type="password" placeholder="password" name="password">
        <button id="login-btn" class="common-btn">Submit</button>
      </form>
    </div>
  </section>

  {{ template "commonFooter.html" .}}
  <script src="/static/js/scripts.js"></script>
  <script src="/static/js/user.js"></script>

  <script>
    (function(){
      User.init();
      Header.init();
      var videoElm = window.os.isPc ? '.bg-video' : '.bg-videosnap';
      document.querySelector(videoElm).style.display = 'block';
    })()
  </script>
</body>

</html>
